﻿<div> user list</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            First Name
        </th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td (click)="onSelect(user)">
            {{user.firstName}}
        </td>
        <td>
            {{user.lastName}}
        </td>
        <td>
            {{user.email}}
        </td>
    </tr>
    </tbody>
</table>