﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="home" >My application</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngFor="let menuItem of menuItems" [ngClass]="getMenuItemClasses(menuItem)">
                    <a [routerLink]="[menuItem.path]" [ngClass]="getMenuItemAnchorClasses(menuItem)">{{menuItem.name}}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="isAuthorized">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>&nbsp; Welcome, <span >{{currentUser.fullName}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" (click)="logout()">Logout</a></li>
                        <li><a [routerLink]="['changepassword']">Change Password</a></li>
                    </ul>

                </li>
            </ul>
        
            <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthorized">
                <li>
                    <a [routerLink]="['login']"><i class="icon-user"></i>&nbsp; Login</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>