﻿<h2 class="page-header">Edit User</h2>
<div *ngIf="error" class="alert alert-danger">{{error.message}}</div>
<form [formGroup]="userForm" (submit)="doSaveUser($event)" *ngIf="userForm">
    <div class="form-group" [class.has-error]="userForm.controls.firstName.invalid">
        <label>First name</label>
        <input type="text" class="form-control" formControlName="firstName"/>
        <div class="help-block" *ngIf="!userForm.controls.firstName.valid" >
            <span>error message</span>
        </div>
    </div>

    <div class="form-group" [class.has-error]="userForm.controls.lastName.invalid">
        <label>First name</label>
        <input type="text" class="form-control" formControlName="lastName" />
        <div class="help-block" *ngIf="!userForm.controls.lastName.valid">
            <span>{{userForm.controls.lastName.errors[0]}}</span>
        </div>
    </div>

    <div class="form-row btn">
        <button type="submit" class="btn btn-primary" >Save</button>
    </div>
</form>
