﻿<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <!-- Css -->
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" type="text/css">

        <!-- Polyfill(s) for older browsers -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/core-js/client/shim.min.js"></script>
        <script src="~/lib/zone.js/dist/zone.js"></script>
        <script src="~/lib/reflect-metadata/Reflect.js"></script>
        <script src="~/lib/systemjs/dist/system.src.js"></script>

        <!-- Configure SystemJS -->
        <script src="~/systemjs.config.js"></script>
    </environment>

    <environment names="Production">
        <!-- Css -->
        <link rel="stylesheet" asp-href-include="~/css/*.min.css" asp-append-version="true">
        <!-- Polyfill(s) for older browsers -->
        <script src="~/lib/core-js/client/shim.min.js"></script>
        <script src="~/lib/zone.js/dist/zone.js"></script>
        <script src="~/lib/reflect-metadata/Reflect.js"></script>
        <script src="~/lib/systemjs/dist/system.src.js"></script>

        <!-- Configure SystemJS -->
        <script src="~/systemjs.config.js"></script>
    </environment>
</head>
@*<base href="/" />*@
<body>
    @RenderBody()
    <script>
        System.import('app/boot').catch(function (err) {
            console.error(err);
        });
    </script>
</body>
</html>